@import 'vendors/bootstrap/scss/bootstrap.scss';
@import 'layout/header', 'layout/navigation', 'layout/main', 'layout/catalogo', 'layout/newsletter', 'layout/support',
	'layout/footer';
@import 'base/typography';
@import 'abstracts/variables';

* {
	box-sizing: content-box;
	font-size: 100%;
}
body {
	font-family: $ppal_font;
	color: $ppal_fc;
}
a {
	text-decoration: none;
	color: #fff !important;
}

i {
	font-size: 25px;
}
i:hover {
	color: $ppal_bc;
	cursor: pointer;
}
