@import '../abstracts/variables';
@import '../base/typography';

.ppal_btn {
	font-family: $scd_font_b;
	font-weight: bold;
	font-size: 22px;
	background-color: $ppal_bc;
	color: $ppal_fc;
	border-radius: 50px;
	border: none;
	padding: 1% 2%;
	width: 200px;
}
.btn {
	height: 40px;
	.ppal_btn {
		@extend .ppal_btn;
	}
}
.ppal_btn:hover {
	background-color: $scd_bc;
	border: 2px solid;
	border-color: $ppal_fc;
	i {
		color: $ppal_fc !important;
	}
}
.round_btn {
	@extend .ppal_btn;
	width: 40px;
	height: 40px;
	margin: 2% 1%;
	i {
		color: #ffff;
		vertical-align: middle;
	}
}
.round_btn:hover {
	width: 38px !important;
	height: 36px !important;
}
@media (min-width: 600px) {
	.round_btn {
		width: 40px;
	}
	.round_btn:hover {
		width: 36px !important;
		height: 36px !important;
	}
}
