@import '../abstracts/variables';
@import '../base/typography';

.ppal_btn {
	font-family: $scd_font;
	font-weight: bold;
	font-size: 22px;
	background-color: $ppal_bc;
	color: $ppal_fc;
	border-radius: 50px;
	border: none;
	padding: 1%;
	width: 200px;
}
.ppal_btn:hover {
	background-color: $scd_bc;
	border: 2px solid;
	border-color: $ppal_fc;
}
