@import '../abstracts/variables';
@import '../base/typography';
@import '../base/functions';

.catalogo {
	background-color: $scd_bc;
	text-align: center;
	padding: 2.5% 0;
	font-weight: bold;
	font-size: 22px;
	p {
		@extend .org;
		
	}
	span {
		@extend .org;
		font-family: $scd_font;
	}
	.galeria {
		display: flex;
		flex-direction: column;
		align-items: center;
		.index {
			margin: 2% 1%;
		}
	}
}
@media (min-width: 600px) {
	.catalogo {
		.galeria {
			flex-direction: row !important;
			justify-content: center;
		}
	}
}
