@import '../abstracts/variables';
@import '../components/buttons', '../components/inputs';
@import '../base/typography';
@import '../base/functions';

main {
	.carousel {
		display: none;
		background-color: $ppal_fc;
	}
	.somos {
		color: $ppal_fc;
		font-family: $ppal_font;
		font-size: 18px;
		padding: 5% 5%;
		text-align: justify;
		text-align: center;
		span {
			font-weight: bolder;
		}
		button {
			margin-top: 10%;
		}
	}
	.donaciones {
		@extend .seccion-mensaje;
	}
	.video {
		@extend .seccion-mensaje;
		
	}
	.blog-noticias {
		background-color: $scd_bc;
		padding: 2.5% 3vw;
		text-align: center;
		p {
			@extend .org;
		}
		.item span {
			font-family: $scd_font_b;
			text-align: start;
		}
	}
}

@media (min-width: 600px) {
	.carousel {
		display: inline-block !important;
		height: auto;
		.carousel-indicators {
			button {
				background-color: $ppal_fc;
				width: 16px;
				height: 16px;
				border-radius: 50%;
				border: 2px solid;
				border-color: #ffff;
			}
			.active {
				background-color: $ppal_bc;
				width: 20px;
				height: 20px;
				border: none;
			}
		}
		.carousel-item {
			position: relative;
			height: 70%;
			img {
				height: 100%;
			}
			.texto {
				position: absolute;
				top: 30%;
				left: 10%;
				p {
					-webkit-text-fill-color: $ppal_fc;
					-webkit-text-stroke-color: #ffff;
					-webkit-text-stroke-width: 2px;
					text-shadow: 2px 2px 2px black;
					font-size: 95px;
					font-weight: 600;
				}
			}
		}
	}
	.somos {
		padding: 3% 15% !important;
		background-color: $ppal_fc;
		color: #ffff !important;
		font-size: 22px;
		span {
			color: $ppal_bc;
		}
		button {
			margin-top: 3% !important;
		}
	}
	.donaciones,
	.video {
		flex-direction: row !important;
		justify-content: space-around !important;
		padding: 6% 10% !important;
	}
}
