.support {
	padding: 50px 5%;
	text-align: center;
	p {
		font-size: 1.8rem;
		font-weight: bold;
		text-decoration: underline;
	}
	.marca {
		img {
			width: auto;
			height: 70px;
			margin: 2%;
		}
	}
}
